<html xmlns:fb="http://www.facebook.com/2008/fbml" class="js" lang="en"><!--<![endif]--><head><script src="file://sb.scorecardresearch.com/beacon.js"></script><script src="file://s3-media1.fl.yelpcdn.com/assets/2/www/js/c26ff64575fd/assets/module_biz_details-en_US.min.js"></script><script src="file://s3-media4.fl.yelpcdn.com/assets/2/www/js/108995ce7693/assets/module_core-en_US.min.js"></script><script src="file://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="https://secure.quantserve.com/quant.js" type="text/javascript" async=""></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script async="" type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script><script src="http://connect.facebook.net/en_US/all.js"></script><script src="http://sb.scorecardresearch.com/beacon.js"></script><script src="http://s3-media1.fl.yelpcdn.com/assets/2/www/js/c26ff64575fd/assets/module_biz_details-en_US.min.js"></script><script src="http://s3-media4.fl.yelpcdn.com/assets/2/www/js/108995ce7693/assets/module_core-en_US.min.js"></script><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="https://secure.quantserve.com/quant.js" type="text/javascript" async=""></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script async="" type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script><script type="text/javascript">
            
            window.yPageStart = new Date().getTime();

</script>

<script type="text/javascript">
            
            var initialVisibilityState = document.webkitVisibilityState;

                yPerfTimings = [];

                    ySitRepParams = {"clientIP": "73.162.252.26", "datacenter": "365", "action": "default", "uniqueRequestID": "cb3f758460ef542f", "isLoggedIn": false, "yuv_record": "fTDBOEW_oYhUN-iL32kncYRclFjfclMUXyVTlpu_AJStWlBhlyXN7yzxIjRb85k7whPeu5_UBDtYuJTPfMq6ifgTSzhnJ-Is", "servlet": "biz_details", "site": "main", "serverStartTime": 1412531928511};
                    window.ySitRepParams['initialVisibilityState'] = initialVisibilityState;


                window._gaq = window._gaq || [];


    _gaq.push(
        ['_setAccount', "UA-30501-1"],
        ['_setDomainName', "yelp.com"],
        ['_setCustomVar', 1, "User Status", "anonymous", 3],

        ['._setCustomVar', 2, 'from_qype', 'false', 1],

        ['_setCustomVar', 4, "account level", "anon", 1],

        ['_setCustomVar', 5, 'content_country', "US", 3],

        ["_trackPageview"]
    );

    _gaq.push(
        ['www._setAccount', "UA-30501-24"],
        ['www._setDomainName', "yelp.com"],
        ['www._setCustomVar', 1, "User Status", "anonymous", 3],

        ['www._setCustomVar', 2, 'from_qype', 'false', 1],

        ['www._setCustomVar', 4, "account level", "anon", 1],

        ['www._setCustomVar', 5, 'content_country', "US", 3],

        ['www._setCustomVar', 6, 'Pixel Ratio', (typeof window.devicePixelRatio == 'number' ? window.devicePixelRatio.toString() : '1'), 3],

        ["www._trackPageview"]
    );

        _gaq.push(
            ['domainTracker._setAccount', "UA-30501-10"],
            ['domainTracker._setDomainName', "yelp.com"],

            ['domainTracker._setCustomVar', 1, "User Status", "anonymous", 3],

            ['domainTracker._setCustomVar', 2, 'from_qype', 'false', 1],

            ['domainTracker._setCustomVar', 5, 'content_country', "US", 3],

            ["domainTracker._trackPageview"]
        );


            (function(H){H.className=H.className.replace(/\bno-js\b/,'js');})(document.documentElement);

</script>

                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en">


                <meta name="description" content="734 Reviews of Back A Yard &quot;Awesome authentic Jamaican food.  I had the oxtails just like I always do (I am a regular at their Menlo Park location) and it was just as good.  Loved the jerk chicken, and yes it is spicy so just stop trippin',  if…">


                <meta name="keywords" content="Yelp,recommendation,San Francisco, bay area, local,business,review,friend,restaurant,dentist,doctor,salon,spa,shopping,store,share,community,massage,sushi,pizza,nails,New York,Los Angeles">


                <meta name="viewport" content="width=1020">

            
    <meta name="application-name" content="Yelp">

    <meta name="msapplication-TileImage" content="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/7f906850f02b/ico/win8-tile.png">
    <meta name="msapplication-TileColor" content="#c41200">

    <meta name="msapplication-starturl" content="http://www.yelp.com/">
    <meta name="msapplication-navbutton-color" content="#c41200">
    <meta name="msapplication-window" content="width=1024;height=768">
    <meta name="msapplication-tooltip" content="Go to Yelp.com">

    <meta name="msapplication-task" content="name=Find Reviews; action-uri=/; icon-uri=http://s3-media1.fl.yelpcdn.com/assets/2/www/img/a6bbc59c7458/ico/favicon-16x16.ico">

    <meta name="msapplication-task" content="name=Hot New Businesses; action-uri=/openings; icon-uri=http://s3-media1.fl.yelpcdn.com/assets/2/www/img/a6bbc59c7458/ico/favicon-16x16.ico">

    <meta name="msapplication-task" content="name=Yelp Deals; action-uri=/search?find_desc=deals; icon-uri=http://s3-media1.fl.yelpcdn.com/assets/2/www/img/a6bbc59c7458/ico/favicon-16x16.ico">


                        <meta name="apple-itunes-app" content="app-id=284910350, app-argument=yelp:///biz/ubaGEwbm-tt38c6KXWUv6A">

        <link href="android-app://com.yelp.android/yelp-app-indexing/biz/ubaGEwbm-tt38c6KXWUv6A" rel="alternate">


                <link rel="shortcut icon" href="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/118ff475a341/ico/favicon.ico">


                <link rel="search" type="application/opensearchdescription+xml" href="/opensearch" title="Yelp">



            
            <link href="http://en.yelp.be/biz/back-a-yard-san-jose" hreflang="en-be" rel="alternate">
            <link href="http://www.yelp.fr/biz/back-a-yard-san-jose" hreflang="fr-fr" rel="alternate">
            <link href="http://fi.yelp.fi/biz/back-a-yard-san-jose" hreflang="fi-fi" rel="alternate">
            <link href="http://www.yelp.pt/biz/back-a-yard-san-jose" hreflang="pt-pt" rel="alternate">
            <link href="http://www.yelp.ie/biz/back-a-yard-san-jose" hreflang="en-ie" rel="alternate">
            <link href="http://www.yelp.it/biz/back-a-yard-san-jose" hreflang="it-it" rel="alternate">
            <link href="http://nl.yelp.be/biz/back-a-yard-san-jose" hreflang="nl-be" rel="alternate">
            <link href="http://www.yelp.co.nz/biz/back-a-yard-san-jose" hreflang="en-nz" rel="alternate">
            <link href="http://www.yelp.nl/biz/back-a-yard-san-jose" hreflang="nl-nl" rel="alternate">
            <link href="http://www.yelp.com/biz/back-a-yard-san-jose" hreflang="en-us" rel="alternate">
            <link href="http://www.yelp.com.sg/biz/back-a-yard-san-jose" hreflang="en-sg" rel="alternate">
            <link href="http://en.yelp.com.hk/biz/back-a-yard-san-jose" hreflang="en-hk" rel="alternate">
            <link href="http://www.yelp.com.au/biz/back-a-yard-san-jose" hreflang="en-au" rel="alternate">
            <link href="http://fr.yelp.be/biz/back-a-yard-san-jose" hreflang="fr-be" rel="alternate">
            <link href="http://de.yelp.ch/biz/back-a-yard-san-jose" hreflang="de-ch" rel="alternate">
            <link href="http://www.yelp.cl/biz/back-a-yard-san-jose" hreflang="es-cl" rel="alternate">
            <link href="http://www.yelp.co.jp/biz/back-a-yard-san-jose" hreflang="ja-jp" rel="alternate">
            <link href="http://www.yelp.at/biz/back-a-yard-san-jose" hreflang="de-at" rel="alternate">
            <link href="http://www.yelp.com.ar/biz/back-a-yard-san-jose" hreflang="es-ar" rel="alternate">
            <link href="http://www.yelp.es/biz/back-a-yard-san-jose" hreflang="es-es" rel="alternate">
            <link href="http://www.yelp.co.uk/biz/back-a-yard-san-jose" hreflang="en-gb" rel="alternate">
            <link href="http://www.yelp.ca/biz/back-a-yard-san-jose" hreflang="en-ca" rel="alternate">
            <link href="http://zh.yelp.com.hk/biz/back-a-yard-san-jose" hreflang="zh-hk" rel="alternate">
            <link href="http://www.yelp.com.br/biz/back-a-yard-san-jose" hreflang="pt-br" rel="alternate">
            <link href="http://en.yelp.ch/biz/back-a-yard-san-jose" hreflang="en-ch" rel="alternate">
            <link href="http://www.yelp.dk/biz/back-a-yard-san-jose" hreflang="da-dk" rel="alternate">
            <link href="http://www.yelp.cz/biz/back-a-yard-san-jose" hreflang="cs-cz" rel="alternate">
            <link href="http://www.yelp.com.tr/biz/back-a-yard-san-jose" hreflang="tr-tr" rel="alternate">
            <link href="http://fr.yelp.ch/biz/back-a-yard-san-jose" hreflang="fr-ch" rel="alternate">
            <link href="http://www.yelp.de/biz/back-a-yard-san-jose" hreflang="de-de" rel="alternate">
            <link href="http://www.yelp.com.mx/biz/back-a-yard-san-jose" hreflang="es-mx" rel="alternate">
            <link href="http://sv.yelp.fi/biz/back-a-yard-san-jose" hreflang="sv-fi" rel="alternate">
            <link href="http://fr.yelp.ca/biz/back-a-yard-san-jose" hreflang="fr-ca" rel="alternate">
            <link href="http://www.yelp.se/biz/back-a-yard-san-jose" hreflang="sv-se" rel="alternate">
            <link href="http://it.yelp.ch/biz/back-a-yard-san-jose" hreflang="it-ch" rel="alternate">
            <link href="http://www.yelp.pl/biz/back-a-yard-san-jose" hreflang="pl-pl" rel="alternate">
            <link href="http://www.yelp.no/biz/back-a-yard-san-jose" hreflang="nb-no" rel="alternate">




    
            <link rel="next" href="http://www.yelp.com/biz/back-a-yard-san-jose?start=40">


            <meta property="fb:app_id" content="97534753161">
        <meta property="og:type" content="yelpyelp:business">
        <meta property="og:title" content="Back A Yard">
        <meta property="og:image" content="http://s3-media1.fl.yelpcdn.com/bphoto/S828Z_RAnOccrE-N7SriXA/l.jpg">
        <meta property="og:url" content="http://www.yelp.com/biz/back-a-yard-san-jose">
        <meta property="og:description" content="Caribbean in San Jose, CA">


            <meta property="twitter:app:name:googleplay" content="Yelp">
        <meta property="twitter:app:url:ipad" content="yelp:///biz/ubaGEwbm-tt38c6KXWUv6A">
        <meta property="twitter:domain" content="yelp.com">
        <meta property="twitter:app:name:iphone" content="Yelp">
        <meta property="twitter:app:name:ipad" content="Yelp">
        <meta property="twitter:app:url:googleplay" content="android-app://com.yelp.android/yelp-app-indexing/biz/ubaGEwbm-tt38c6KXWUv6A">
        <meta property="twitter:site" content="@yelp">
        <meta property="twitter:app:id:googleplay" content="com.yelp.android">
        <meta property="twitter:app:id:iphone" content="id284910350">
        <meta property="twitter:app:url:iphone" content="yelp:///biz/ubaGEwbm-tt38c6KXWUv6A">
        <meta property="twitter:card" content="summary">
        <meta property="twitter:app:id:ipad" content="id284910350">


    <meta name="yelp-biz-id" content="ubaGEwbm-tt38c6KXWUv6A">

        
            <title><%= element.name%> Yelp</title>


            <link rel="stylesheet" type="text/css" media="all" href="http://s3-media4.fl.yelpcdn.com/assets/2/www/css/1f90cd074450/www-pkg.css">
    <link rel="stylesheet" type="text/css" media="all" href="http://s3-media4.fl.yelpcdn.com/assets/2/www/css/3c3125b914fe/baz-pkg.css">



            <script>
            (function() {
                var main = null;

                var main=function(d,b,c,a){window.googletag=window.googletag||{};window.googletag.cmd=window.googletag.cmd||[];window.googletag.cmd.push(function(){window.googletag.pubads().collapseEmptyDivs();if(!d){window.googletag.pubads().enableSyncRendering()}if(b.length){var e,g;for(e=0,g=b.length;e<g;e+=1){window.googletag.pubads().setTargeting(b[e][0],b[e][1])}}else{window.googletag.pubads().setTargeting("mode",c)}window.googletag.enableServices();if(a){var f=window.googletag.pubads().refresh;window.googletag.pubads().refresh=function(){try{if(window.yDFP.adsCountSemaphore===0){return f.apply(this,arguments)
}}catch(h){yelp.errorReporter.record(h,"GPTAdRefresh")}}}});window.yDFP={};window.yDFP.hideAd=function(e){if(document.querySelectorAll){document.querySelectorAll(".googlead-"+e)[0].style.display="none"}};window.yDFP.adsCountSemaphore=0;window.yDFP.adSlots=[]};

                if (main === null) {
                    throw 'invalid inline script, missing main declaration.';
                }
                main(true, [["attrtakeou", "yes"], ["qncst_segs", ["D", "T", "43585", "43584", "37336", "19951", "19950", "19949", "19948", "19947", "19944", "19939", "19938", "19937", "19936", "19934", "19924"]], ["attrambian", ["casual"]], ["attrgrupok", "yes"], ["attrreserv", "no"], ["attroutdor", "no"], ["scategory2", ["tradameric", "caribbean"]], ["attrwaiter", "no"], ["attrparkin", ["garage", "street", "validate"]], ["attrdogsok", "notset"], ["attrrating", "4.5"], ["attrdelivr", "no"], ["attrprice", "2"], ["bizid", "ubaGEwbm-tt38c6KXWUv6A"], ["category", ["restaurant"]], ["city", "San Jose"], ["attrsmeals", ["lunch"]], ["attrcater", "yes"], ["attrcredit", "yes"], ["attralcoho", "beerwine"], ["language", "en"], ["country", "us"], ["section", "bizprofile"], ["zipcode", "95113"], ["dma_code", "807"], ["sk", "no"], ["attrattire", "casual"], ["signed_in", "no"], ["attrnoise", "average"], ["mode", "live"], ["attraccess", "yes"], ["attrhastv", "yes"], ["attrkidsok", "yes"], ["attrwifi", "free"]], "live", false);
            })();
    </script><script>
            (function() {
                var main = null;

                var main=function(){var a=document.createElement("script");a.async=true;a.type="text/javascript";var c="https:"==document.location.protocol;a.src=(c?"https:":"http:")+"//www.googletagservices.com/tag/js/gpt.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)};

                if (main === null) {
                    throw 'invalid inline script, missing main declaration.';
                }
                main();
            })();
    </script>


<script type="text/javascript">
                

</script>

            <script>
            (function() {
                var main = null;

                var main=function(){(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga")};

                if (main === null) {
                    throw 'invalid inline script, missing main declaration.';
                }
                main();
            })();
    </script>
    <script async="" type="text/javascript" src="http://partner.googleadservices.com/gpt/pubads_impl_51.js"></script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/osd.js"></script><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}</style><script async="" type="text/javascript" src="http://partner.googleadservices.com/gpt/pubads_impl_51.js"></script><iframe src="http://tpc.googlesyndication.com/safeframe/1-0-0/html/container.html" style="visibility: hidden; display: none;"></iframe><iframe src="http://tpc.googlesyndication.com/safeframe/1-0-0/html/container.html" style="visibility: hidden; display: none;"></iframe><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}</style><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/osd.js"></script></head>






    <body id="yelp_main_body" class="country-us logged-out ytype borderless biz-details jquery"><div style="position: absolute; left: -9999px; top: -9999px;"><object type="application/x-shockwave-flash" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="1" height="1" id="moatMessageSender"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="false"><param name="movie" value="http://s.moatads.com/swf/MessageSenderV2.swf"><param name="FlashVars" value="r=MoatSuperV4.yh.zb&amp;s=MoatSuperV4.yh.zc&amp;e=MoatSuperV4.yh.zd&amp;td=afs.moatads.com"><param name="quality" value="high"><param name="bgcolor" value="#ffffff"><embed type="application/x-shockwave-flash" src="http://s.moatads.com/swf/MessageSenderV2.swf" quality="high" flashvars="r=MoatSuperV4.yh.zb&amp;s=MoatSuperV4.yh.zc&amp;e=MoatSuperV4.yh.zd&amp;td=afs.moatads.com" bgcolor="#ffffff" width="1" height="1" id="moatMessageSenderEmbed" align="middle" allowscriptaccess="always" allowfullscreen="false" pluginspage="http://www.adobe.com/go/getflashplayer"></object></div><script type="text/javascript">(function (a,c){function b(a,b,c){a&&l.push({qs:a,jsd:b,fld:c});if(0===g&&0<l.length)if(g+=1,a=l.shift(),a.fld&&n&&m&&m.sendMessage)try{m.sendMessage(a)}catch(d){n=!1,e(a)}else e(a)}function d(){try{return new q(1,1)}catch(a){var b=window.document.createElement("img");
b.height=1;b.width=1;return b}}function e(a){var b=d();b.toSend=a;b.onerror=function(){var a=this.toSend;k+=1;var b=(a.jsd+"/pixel.gif?"+a.qs).length;2>k?e(a):t&&b>u&&f()};b.onload=function(){f()};b.src=a.jsd+"/pixel.gif?"+a.qs}function f(){0<g&&(g-=1,b())}var l=[],g=0,k=0,m=!1,n=!1,q,r=c[a];r.yh={};r=r.yh;q=c.Image;r.yi=function(a,c,d){b(a,c,d)};r.yk=function(b){m=!0;var c=a+".yh.",d={},e;try{e=window.location.protocol}catch(f){e=document.createElement("a"),e.href="",e=e.protocol}d.src="https:"===
e?"https://z.moatads.com/swf/MessageSenderV2.swf":"http://s.moatads.com/swf/MessageSenderV2.swf";d.flashVars="r="+c+"zb&s="+c+"zc&e="+c+"zd&td="+b;return d};r.yj=function(){return!1===m};r.zb=function(){try{if(!0===m){var a=c.document.getElementById("moatMessageSender");a&&!a.sendMessage&&(a=c.document.getElementById("moatMessageSenderEmbed"));a&&a.sendMessage&&(n=!0,m=a)}}catch(b){}};r.zc=function(){try{f()}catch(a){}};r.zd=function(a){try{n=!1,a&&a.jsd&&l.push(a),f()}catch(b){}};var s,t,u=2083;
try{s=document.createElement("div"),s.innerHTML="\x3c!--[if IE 8]>x<![endif]--\x3e",t="x"===s.innerHTML}catch(w){t=!1}})('MoatSuperV4',window)</script><div style="position: absolute; left: -9999px; top: -9999px;"><object type="application/x-shockwave-flash" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="1" height="1" id="moatMessageSender"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="false"><param name="movie" value="http://s.moatads.com/swf/MessageSenderV2.swf"><param name="FlashVars" value="r=MoatSuperV4.yh.zb&amp;s=MoatSuperV4.yh.zc&amp;e=MoatSuperV4.yh.zd&amp;td=afs.moatads.com"><param name="quality" value="high"><param name="bgcolor" value="#ffffff"><embed type="application/x-shockwave-flash" src="http://s.moatads.com/swf/MessageSenderV2.swf" quality="high" flashvars="r=MoatSuperV4.yh.zb&amp;s=MoatSuperV4.yh.zc&amp;e=MoatSuperV4.yh.zd&amp;td=afs.moatads.com" bgcolor="#ffffff" width="1" height="1" id="moatMessageSenderEmbed" align="middle" allowscriptaccess="always" allowfullscreen="false" pluginspage="http://www.adobe.com/go/getflashplayer"></object></div>

            <div id="fb-root" class=" fb_reset fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/KFZn1BJ0LYk.js?version=41#channel=f25d4dba2c&amp;origin=http%3A%2F%2Fwww.yelp.com" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/KFZn1BJ0LYk.js?version=41#channel=f25d4dba2c&amp;origin=http%3A%2F%2Fwww.yelp.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>


        <div id="wrap" class="lang-en">
                    <div>
                

                            <ul class="offscreen">
                <li>
                    <a href="#header_find_form" rel="nofollow">
                        Skip to Search Form
                    </a>
                </li>
                <li>
                    <a href="\#header-nav" rel="nofollow">
                        Skip to Navigation
                    </a>
                </li>
                <li>
                    <a href="#page-content" rel="nofollow">
                        Skip to Page Content
                    </a>
                </li>
        </ul>



        <div class="app-header">
            <div class="header-container clearfix">
                
    <div class="logo">
        <a href="/">Yelp</a>
    </div>


                        

    


                        <div class="header-account webview-hidden">
                 <%if(!isAuthenticated) {%>
  <div class="header-account webview-hidden">
  
    <ul class="logged-out-nav">
        <li>
            <a href="/signup" id="header-sign-up" class="ybtn ybtn-primary header-button sign-up">Sign Up</a>
        </li>
        <li class="text-centered">
            <a class="log-in" href="/login">
                Log In
            </a>
        </li>
    </ul>
    </div>
    <%} else{%>
    <div class="header-account webview-hidden">
    Hello, <%= user.email %>!
    	<li class="text-centered">
    	<a class="log-in" href = '/logout'> <font color = "white">Logout here</font></a>
    	</li>
    	</div>
    <%}%>

    </div>


                            <p></p>
<p></p>
<p></p>
<p></p>
<ul class="header-nav pull-left" id="header-nav">
                <li class="inline-block" id="home-link">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="inline-block" id="about-me">
                    <a href="/user_details">
                        About Me
                    </a>
                </li>
                <li class="inline-block" id="write-review">
                    <a href="https://www.yelp.com/writeareview">
                        Write a Review
                    </a>
                </li>
                
                
                
                
        </ul>

            </div>
        </div>

        </div>

            


                
                


                    
                    

                <div id="print-masthead">
        <img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/b7e9d647188d/gfx/header_print.gif" class="print-bkg-img" alt="Yelp">
    </div>




    <div class="biz-country-us" itemscope="" itemtype="http://schema.org/LocalBusiness">

            <span id="page-content" class="offscreen">&nbsp;</span>

    <div class="top-shelf">
<div class="container">
            

    <div id="alert-container">

    </div>


    <div class="biz-page-header clearfix">
        <div class="biz-page-header-left">
            
    


    <h1 class="biz-page-title embossed-text-white" itemprop="name">
        <%= element.name%>
    </h1>

    

    <div class="biz-main-info embossed-text-white">

            <div class="rating-info clearfix">
                        <div class="biz-rating biz-rating-very-large clearfix" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                
        <div class="rating-very-large">
        <i class="star-img stars_<%= element.rate%>" title="<%= element.rate%> star rating">
            <img alt="4.5 star rating" class="offscreen" height="303" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png" width="84">
        </i>
            <meta itemprop="ratingValue" content="4.5">
    </div>


                    <span class="review-count rating-qualifier">
            <span itemprop="reviewCount"><%= element.reviews%></span> reviews
    </span>

        </div>

                
    

            </div>

        <div class="price-category">
                    <span class="bullet-after">
            
        
        </span>
            <span class="category-str-list">
                Category: <%= element.cat%>    </span>

        <span class="offscreen">, Opens a popup</span>
</span>
        <span class="tooltip-wrapper">
            <span class="tooltip">Edit categories</span>
        </span>
    </a>

        </div>
    </div>

        </div>
        <div class="biz-page-header-right">
                <div class="biz-page-actions nowrap">
        <a href="/writeareview/biz/ubaGEwbm-tt38c6KXWUv6A?return_url=%2Fbiz%2FubaGEwbm-tt38c6KXWUv6A" class="ybtn ybtn-primary ytype war-button"><span class="i-wrap ig-wrap-common i-war-star-common-wrap"><i class="i ig-common i-war-star-common"></i> Write a Review</span></a>
        
    </div>

        </div>
    </div>

    



    <div class="biz-page-subheader">
        
        
    </div>

</div>    </div>

            <div id="super-container">

<div class="container">
<div class="clearfix layout-block layout-right-rail layout-border ysection">
<div class="column column-alpha main-section">
                
                    
    


                        


                <div>
                            <div class="feed" data-component-bound="true">
            <div class="feed-header" data-component-bound="true">
            <div class="feed-header-search-row">
            <h2>Reviews</h2>

            
    </div>
    
            


    </div>

        
        <div class="review-list" data-component-bound="true" style="position: relative;">
                <ul class="ylist ylist-bordered reviews" data-component-bound="true">
                    <li>
                <div class="review review-with-no-actions" data-review-id="pgOC7PbGyrBinicqhi_eWQ" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <meta itemprop="author" content="Saundra D.">
            <div class="review-sidebar">
        <div class="review-sidebar-content">
                <div class="ypassport media-block clearfix">
        
        <div class="media-story">
                <ul class="user-passport-info">
        <li class="user-name">
                    <a class="user-display-name" href="/user_details?userid=NLsC0TuV180DoPqpn2N3Tg" data-hovercard-id="2W0BfopXF5fHXD-1DxjGow">Saundra D.</a>
        </li>
        <li class="user-location">
            <b>Pinole, CA</b>
        </li>
    </ul>

                

        </div>
    </div>

                    

         </div>
     </div>

        <div class="review-wrapper">
               <div class="review-content">
            <div class="biz-rating biz-rating-very-large clearfix">
        <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                
        <div class="rating-very-large">
        <i class="star-img stars_5" title="5.0 star rating">
            <img alt="5.0 star rating" class="offscreen" height="303" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png" width="84">
        </i>
            <meta itemprop="ratingValue" content="5.0">
    </div>


        </div>
            <span class="rating-qualifier">
            <meta itemprop="datePublished" content="2014-10-04">
        10/4/2014
    </span>

    </div>

                

                <p class="review_comment ieSucks" itemprop="description" lang="en">Awesome authentic Jamaican food. &nbsp;I had the oxtails just like I always do (I am a regular at their Menlo Park location) and it was just as good. &nbsp;Loved the jerk chicken, and yes it is spicy so just stop trippin', &nbsp;if you want your food bland go somewhere else and don't mess it up for the rest of us.<br><br>They have housemade ginger beer so skip the bottle. Good stuff here. Don't miss it!</p> 
                    

    </div>
    
    
    

        </div>
    </div>

        </li>
        <li>
                <div class="review review-with-no-actions" data-review-id="DoCxW3IRK1Ux6YF-WWukiA" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <meta itemprop="author" content="Huy D.">
            <div class="review-sidebar">
        <div class="review-sidebar-content">
                <div class="ypassport media-block clearfix">
        <div class="media-avatar">
                    


    <div class="photo-box pb-60s" data-hovercard-id="3E8KQF7iWiO_Xtk7rUnnKw">
                <a href="/user_details?userid=7kCOQvt59KjyarqE8kop2Q">
            

    <img alt="Huy D." class="photo-box-img" height="60" src="//s3-media3.fl.yelpcdn.com/photo/0NE7tayNjq72QJ1BDEPpyw/60s.jpg" width="60">

        </a>

    </div>



        </div>
        <div class="media-story">
                <ul class="user-passport-info">
        <li class="user-name">
                    <a class="user-display-name" href="/user_details?userid=7kCOQvt59KjyarqE8kop2Q" data-hovercard-id="3E8KQF7iWiO_Xtk7rUnnKw">Huy D.</a>
        </li>
        <li class="user-location">
            <b>San Jose, CA</b>
        </li>
    </ul>

                <ul class="user-passport-stats">
            <li class="is-elite">
                <a href="/elite">Elite ’14</a>
            </li>
        <li class="friend-count">
            <span class="i-wrap ig-wrap-common i-friends-orange-common-wrap"><i class="i ig-common i-friends-orange-common"></i> <b>133</b> friends</span>
        </li>
        <li class="review-count">
            <span class="i-wrap ig-wrap-common i-star-orange-common-wrap"><i class="i ig-common i-star-orange-common"></i> <b>56</b> reviews</span>
        </li>
    </ul>

        </div>
    </div>

                    <ul class="iconed-list action-link-list">

                <li class="iconed-list-item">

                        <a class="action-link send-to-friend" data-pop-uri="/send_to_friend/review/DoCxW3IRK1Ux6YF-WWukiA" href="javascript:;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-share-common"></i>
        </div>
        <div class="iconed-list-story">
            Share review
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-compliment" href="javascript:;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-compliment-common"></i>
        </div>
        <div class="iconed-list-story">
            Compliment
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-pm" href="javascript:;" rel="Huy D.">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-message-common"></i>
        </div>
        <div class="iconed-list-story">
            Send message
        </div>
    </a>

                </li>

                <li class="iconed-list-item manage-follow-container">
                    

                        <a class="action-link manage-following-add" href="javascript:;" rel="7kCOQvt59KjyarqE8kop2Q" style="">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-follow-common"></i>
        </div>
        <div class="iconed-list-story">
            Follow Huy D.
        </div>
    </a>



                        <a class="action-link manage-following-remove" href="javascript:;" rel="7kCOQvt59KjyarqE8kop2Q" style="display: none;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-unfollow-common"></i>
        </div>
        <div class="iconed-list-story">
            Stop following Huy D.
        </div>
    </a>

                </li>
    </ul>

         </div>
     </div>

        <div class="review-wrapper">
               <div class="review-content">
            <div class="biz-rating biz-rating-very-large clearfix">
        <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                
        <div class="rating-very-large">
        <i class="star-img stars_5" title="5.0 star rating">
            <img alt="5.0 star rating" class="offscreen" height="303" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png" width="84">
        </i>
            <meta itemprop="ratingValue" content="5.0">
    </div>


        </div>
            <span class="rating-qualifier">
            <meta itemprop="datePublished" content="2014-10-02">
        10/2/2014
    </span>

    </div>

                <span class="review-tags">
                        <span class="i-wrap ig-wrap-common i-checkin-burst-blue-small-common-wrap badge checkin checkin-irregular"><i class="i ig-common i-checkin-burst-blue-small-common"></i> 1 check-in</span>

        </span>

                <p class="review_comment ieSucks" itemprop="description" lang="en">Some people say you can't believe, Jamaica we have a bobsled team. &nbsp;We have the one Derice, the one Junior, Yule Brynner and the man Sanka - the fastest of the fastest of Jamaica sprinters. Respect to the man Irv Blitzer! &nbsp;Feel the rhythm. &nbsp;Feel the rhyme. &nbsp;Get on up - it's bobsled time!<br><br>God, I love Cool Runnings. &nbsp;Next to the Mighty Ducks, it's one of my favorite sports movie.<br><br>One day, I'll be able to travel to Jamaica and run alongside the beaches with Usain Bolt. &nbsp;But for time being, I'll settle for Back a Yard's amazing jerk chicken and ox tail. &nbsp;If you can deal with the wait time, you'll be rewarded with the most tender and flavorful pieces of cooked protein in San Jose. &nbsp;Rich with herbs and spices, the jerk chicken and ox tail have been infused with the spirit of Jamaica in every bite. &nbsp;Always go for the combo so you can get the best of both worlds. &nbsp;And the spiciness? &nbsp;It's legitimate. &nbsp;Subtle heat that builds with every piece you eat. &nbsp;<br><br>The place is always packed during lunch hours for good reason. &nbsp;With that said, you should allot at least 30-40 minutes. &nbsp;It takes that long to get your food. &nbsp;But relax mon. &nbsp;You're in good hands. &nbsp;Enjoy the chill island vibes before getting your grub on.</p> 
            
    </div>
    <div class="review-footer clearfix">
                    <div class="rateReview ufc-feedback clearfix" data-review-id="DoCxW3IRK1Ux6YF-WWukiA">
                    <p class="review-intro review-message">
        Was this review …?
    </p>

                <ul class="big-ufc" data-csrf-token="fd951fe035fe64aa96b349fbd8158555cb2bfd27b7689ce9b6f873a1c0d9d4c4">
                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="useful" class="ybtn ybtn-small useful ytype"><span class="i-wrap ig-wrap-common i-big-ufc-useful-common-wrap button-content"><i class="i ig-common i-big-ufc-useful-common"></i>     <span class="vote-type">Useful</span>
    <span class="count">2</span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="funny" class="ybtn ybtn-small funny ytype"><span class="i-wrap ig-wrap-common i-big-ufc-funny-common-wrap button-content"><i class="i ig-common i-big-ufc-funny-common"></i>     <span class="vote-type">Funny</span>
    <span class="count">2</span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="cool" class="ybtn ybtn-small cool ytype"><span class="i-wrap ig-wrap-common i-big-ufc-cool-common-wrap button-content"><i class="i ig-common i-big-ufc-cool-common"></i>     <span class="vote-type">Cool</span>
    <span class="count">2</span></span></a>
    </li>

                </ul>
        </div>

    </div>
    
    

        </div>
    </div>

        </li>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <li>
                <div class="review review-with-no-actions" data-review-id="By1Pia0mTqB-dj17JKO_MA" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <meta itemprop="author" content="Scott B.">
            <div class="review-sidebar">
        <div class="review-sidebar-content">
                <div class="ypassport media-block clearfix">
        <div class="media-avatar">
                    


    <div class="photo-box pb-60s" data-hovercard-id="65zvdDUOJuFJ6Resemp1ug">
                <a href="/user_details?userid=UH1MfeKdp-vYk1cFociMTw">
            

    <img alt="Scott B." class="photo-box-img" height="60" src="//s3-media1.fl.yelpcdn.com/photo/1zE9XTDHvsu67uIHmad6Vw/60s.jpg" width="60">

        </a>

    </div>



        </div>
        <div class="media-story">
                <ul class="user-passport-info">
        <li class="user-name">
                    <a class="user-display-name" href="/user_details?userid=UH1MfeKdp-vYk1cFociMTw" data-hovercard-id="65zvdDUOJuFJ6Resemp1ug">Scott B.</a>
        </li>
        <li class="user-location">
            <b>San Jose, CA</b>
        </li>
    </ul>

                <ul class="user-passport-stats">
        <li class="friend-count">
            <span class="i-wrap ig-wrap-common i-friends-orange-common-wrap"><i class="i ig-common i-friends-orange-common"></i> <b>66</b> friends</span>
        </li>
        <li class="review-count">
            <span class="i-wrap ig-wrap-common i-star-orange-common-wrap"><i class="i ig-common i-star-orange-common"></i> <b>36</b> reviews</span>
        </li>
    </ul>

        </div>
    </div>

                    <ul class="iconed-list action-link-list">

                <li class="iconed-list-item">

                        <a class="action-link send-to-friend" data-pop-uri="/send_to_friend/review/By1Pia0mTqB-dj17JKO_MA" href="javascript:;">en
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-share-common"></i>
        </div>
        <div class="iconed-list-story">
            Share review
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-compliment" href="javascript:;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-compliment-common"></i>
        </div>
        <div class="iconed-list-story">
            Compliment
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-pm" href="javascript:;" rel="Scott B.">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-message-common"></i>
        </div>
        <div class="iconed-list-story">
            Send message
        </div>
    </a>

                </li>

                <li class="iconed-list-item manage-follow-container">
                    

                        <a class="action-link manage-following-add" href="javascript:;" rel="UH1MfeKdp-vYk1cFociMTw" style="">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-follow-common"></i>
        </div>
        <div class="iconed-list-story">
            Follow Scott B.
        </div>
    </a>



                        <a class="action-link manage-following-remove" href="javascript:;" rel="UH1MfeKdp-vYk1cFociMTw" style="display: none;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-unfollow-common"></i>
        </div>
        <div class="iconed-list-story">
            Stop following Scott B.
        </div>
    </a>

                </li>
    </ul>

         </div>
     </div>

        <div class="review-wrapper">
               <div class="review-content">
            <div class="biz-rating biz-rating-very-large clearfix">
        <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                
        <div class="rating-very-large">
        <i class="star-img stars_2" title="2.0 star rating">
            <img alt="2.0 star rating" class="offscreen" height="303" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png" width="84">
        </i>
            <meta itemprop="ratingValue" content="2.0">
    </div>


        </div>
            <span class="rating-qualifier">
            <meta itemprop="datePublished" content="2014-07-26">
        7/26/2014
            <small class="bullet-before has-archived-review">
                <strong class="i-wrap ig-wrap-common i-updated-review-common-wrap"><i class="i ig-common i-updated-review-common"></i> Updated review</strong>
            </small>
    </span>

    </div>

        
                <p class="review_comment ieSucks" itemprop="description" lang="en">The food is still great, but the service has only gotten worse.<br><br>It's one of those places where you really feel like they don't care whether you're there or not. You are barely looked at, much less welcomed.<br><br>On our last visit, my husband's order came out fine, and I was served jerk chicken instead of BBQ chicken. The guy who both took the order and served the food protested a little when I told him the order was wrong and sent it back. Did I receive any apology whatsoever? No! While we &nbsp;were there, someone came for a takeout order and wisely checked it before leaving. Their order was wrong too.<br><br>After your food is served, no one ever comes to your table to refill your water or check on anything else. I had to go to the counter for refills and to remind them to bring out the dessert I ordered. Oh did I mention we had gone for early dinner and that there were only three tables occupied in the place? <br><br>And don't ever order a fountain soda pop there because they charge $1 for each refill. That is just sorry and cheap-ass.<br><br>I re-iterate from my previous review: get it for take out and enjoy. But check it before you walk out of the door.</p> 
            
    </div>
    <div class="review-footer clearfix">
                    <div class="rateReview ufc-feedback clearfix" data-review-id="By1Pia0mTqB-dj17JKO_MA">
                    <p class="review-intro review-message">
        Was this review …?
    </p>

                <ul class="big-ufc" data-csrf-token="fd951fe035fe64aa96b349fbd8158555cb2bfd27b7689ce9b6f873a1c0d9d4c4">
                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="useful" class="ybtn ybtn-small useful ytype"><span class="i-wrap ig-wrap-common i-big-ufc-useful-common-wrap button-content"><i class="i ig-common i-big-ufc-useful-common"></i>     <span class="vote-type">Useful</span>
    <span class="count">3</span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="funny" class="ybtn ybtn-small funny ytype"><span class="i-wrap ig-wrap-common i-big-ufc-funny-common-wrap button-content"><i class="i ig-common i-big-ufc-funny-common"></i>     <span class="vote-type">Funny</span>
    <span class="count">1</span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="cool" class="ybtn ybtn-small cool ytype"><span class="i-wrap ig-wrap-common i-big-ufc-cool-common-wrap button-content"><i class="i ig-common i-big-ufc-cool-common"></i>     <span class="vote-type">Cool</span>
    <span class="count"></span></span></a>
    </li>

                </ul>
        </div>

    </div>
                <div class="previous-review clearfix">
            <div class="biz-rating biz-rating-very-large clearfix">
            
        <div class="rating-very-large">
        <i class="star-img stars_3" title="3.0 star rating">
            <img alt="3.0 star rating" class="offscreen" height="303" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png" width="84">
        </i>
    </div>


        <span class="rating-qualifier">
            7/27/2012
            <strong class="bullet-before has-previous-review">
                <small>Previous review</small>
            </strong>
        </span>
    </div>

                <span class="js-expandable-comment comment-truncated">
            <span class="js-content-toggleable">The food rocks. The service, not so much.<br><br>They simply need more or better help. The "manager?" (white…</span>
            <span class="js-content-toggleable hidden">The food rocks. The service, not so much.<br><br>They simply need more or better help. The "manager?" (white lady with long dark hair) runs around like a mad person trying to keep up and gets grumpy in the process.<br><br>Order food to take out.</span>
            <a href="#" class="read-more js-content-expander">Read more</a>
            <div class="review-footer js-content-toggleable hidden clearfix">
                            <div class="rateReview ufc-feedback clearfix" data-review-id="_dGkrC9GGIO4B-8DZ0qZeA">
                    <p class="review-intro review-message">
        Was this review …?
    </p>

                <ul class="big-ufc" data-csrf-token="fd951fe035fe64aa96b349fbd8158555cb2bfd27b7689ce9b6f873a1c0d9d4c4">
                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="useful" class="ybtn ybtn-small useful ytype"><span class="i-wrap ig-wrap-common i-big-ufc-useful-common-wrap button-content"><i class="i ig-common i-big-ufc-useful-common"></i>     <span class="vote-type">Useful</span>
    <span class="count"></span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="funny" class="ybtn ybtn-small funny ytype"><span class="i-wrap ig-wrap-common i-big-ufc-funny-common-wrap button-content"><i class="i ig-common i-big-ufc-funny-common"></i>     <span class="vote-type">Funny</span>
    <span class="count"></span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="cool" class="ybtn ybtn-small cool ytype"><span class="i-wrap ig-wrap-common i-big-ufc-cool-common-wrap button-content"><i class="i ig-common i-big-ufc-cool-common"></i>     <span class="vote-type">Cool</span>
    <span class="count"></span></span></a>
    </li>

                </ul>
        </div>

                
            </div>
        </span>

    </div>


    

        </div>
    </div>

        </li>
        <li>
                <div class="review review-with-no-actions" data-review-id="CcqO9Q5qa0dPU1JmxZ1ziw" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <meta itemprop="author" content="Christine G.">
            <div class="review-sidebar">
        <div class="review-sidebar-content">
                <div class="ypassport media-block clearfix">
        <div class="media-avatar">
                    


    <div class="photo-box pb-60s" data-hovercard-id="UhhX1TlzNXHY0M4Xo_xExw">
                <a href="/user_details?userid=epeDgCUc6WZm38bOMXIh1g">
            

    <img alt="Christine G." class="photo-box-img" height="60" src="//s3-media4.fl.yelpcdn.com/photo/R9oYIwI4QBa0_7X8tEua8Q/60s.jpg" width="60">

        </a>

    </div>



        </div>
        <div class="media-story">
                <ul class="user-passport-info">
        <li class="user-name">
                    <a class="user-display-name" href="/user_details?userid=epeDgCUc6WZm38bOMXIh1g" data-hovercard-id="UhhX1TlzNXHY0M4Xo_xExw">Christine G.</a>
        </li>
        <li class="user-location">
            <b>San Jose, CA</b>
        </li>
    </ul>

                <ul class="user-passport-stats">
        <li class="friend-count">
            <span class="i-wrap ig-wrap-common i-friends-orange-common-wrap"><i class="i ig-common i-friends-orange-common"></i> <b>101</b> friends</span>
        </li>
        <li class="review-count">
            <span class="i-wrap ig-wrap-common i-star-orange-common-wrap"><i class="i ig-common i-star-orange-common"></i> <b>182</b> reviews</span>
        </li>
    </ul>

        </div>
    </div>

                    <ul class="iconed-list action-link-list">

                <li class="iconed-list-item">

                        <a class="action-link send-to-friend" data-pop-uri="/send_to_friend/review/CcqO9Q5qa0dPU1JmxZ1ziw" href="javascript:;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-share-common"></i>
        </div>
        <div class="iconed-list-story">
            Share review
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-compliment" href="javascript:;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-compliment-common"></i>
        </div>
        <div class="iconed-list-story">
            Compliment
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-pm" href="javascript:;" rel="Christine G.">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-message-common"></i>
        </div>
        <div class="iconed-list-story">
            Send message
        </div>
    </a>

                </li>

                <li class="iconed-list-item manage-follow-container">
                    

                        <a class="action-link manage-following-add" href="javascript:;" rel="epeDgCUc6WZm38bOMXIh1g" style="">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-follow-common"></i>
        </div>
        <div class="iconed-list-story">
            Follow Christine G.
        </div>
    </a>



                        <a class="action-link manage-following-remove" href="javascript:;" rel="epeDgCUc6WZm38bOMXIh1g" style="display: none;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-unfollow-common"></i>
        </div>
        <div class="iconed-list-story">
            Stop following Christine G.
        </div>
    </a>

                </li>
    </ul>

         </div>
     </div>

        <div class="review-wrapper">
               <div class="review-content">
            <div class="biz-rating biz-rating-very-large clearfix">
        <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                
        <div class="rating-very-large">
        <i class="star-img stars_5" title="5.0 star rating">
            <img alt="5.0 star rating" class="offscreen" height="303" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png" width="84">
        </i>
            <meta itemprop="ratingValue" content="5.0">
    </div>


        </div>
            <span class="rating-qualifier">
            <meta itemprop="datePublished" content="2014-08-14">
        8/14/2014
    </span>

    </div>

                <span class="review-tags">
                        <span class="i-wrap ig-wrap-common i-checkin-burst-blue-small-common-wrap badge checkin checkin-irregular"><i class="i ig-common i-checkin-burst-blue-small-common"></i> 4 check-ins</span>

        </span>

                <p class="review_comment ieSucks" itemprop="description" lang="en">Jerk chicken, red rice &amp; beans, fried plantains with some of the house sauce????.... &nbsp;what is not to love?? That combo always hit the spot. Spicy salty and tangy yet moist chicken. So many spices so much goodness. The plantains and rice go perfectly with the crazy complex flavors of the chicken. I cannot rave enough. I have also had the ox tail and the ackee and fish. I personally really enjoyed the ox tail. The ackee and fish was just okay, flavor wise I didn't mind it texture wise was very unique.<br><br>Decor: Ecceletic yet comfy<br><br>Service: Fast, easy-going, alway helpful. But it does get busy at times so be prepared to wait or call in and order ahead for to-go.</p> 
            
    </div>
    <div class="review-footer clearfix">
                    <div class="rateReview ufc-feedback clearfix" data-review-id="CcqO9Q5qa0dPU1JmxZ1ziw">
                    <p class="review-intro review-message">
        Was this review …?
    </p>

                <ul class="big-ufc" data-csrf-token="fd951fe035fe64aa96b349fbd8158555cb2bfd27b7689ce9b6f873a1c0d9d4c4">
                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="useful" class="ybtn ybtn-small useful ytype"><span class="i-wrap ig-wrap-common i-big-ufc-useful-common-wrap button-content"><i class="i ig-common i-big-ufc-useful-common"></i>     <span class="vote-type">Useful</span>
    <span class="count"></span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="funny" class="ybtn ybtn-small funny ytype"><span class="i-wrap ig-wrap-common i-big-ufc-funny-common-wrap button-content"><i class="i ig-common i-big-ufc-funny-common"></i>     <span class="vote-type">Funny</span>
    <span class="count"></span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="cool" class="ybtn ybtn-small cool ytype"><span class="i-wrap ig-wrap-common i-big-ufc-cool-common-wrap button-content"><i class="i ig-common i-big-ufc-cool-common"></i>     <span class="vote-type">Cool</span>
    <span class="count"></span></span></a>
    </li>

                </ul>
        </div>

    </div>
    
    

        </div>
    </div>

        </li>
        <li>
                <div class="review review-with-no-actions" data-review-id="FPz_lR2sImFpDrJgKboO9w" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <meta itemprop="author" content="Shannon R.">
            <div class="review-sidebar">
        <div class="review-sidebar-content">
                <div class="ypassport media-block clearfix">
        <div class="media-avatar">
                    


    <div class="photo-box pb-60s" data-hovercard-id="SsFcnvnTOpiLNg1BUDov8Q">
                <a href="/user_details?userid=A57kMV-Kkl0XZxRbQPDqWg">
            

    <img alt="Shannon R." class="photo-box-img" height="60" src="//s3-media1.fl.yelpcdn.com/photo/P2ALWiSCfWx2WG8m4GTcaQ/60s.jpg" width="60">

        </a>

    </div>



        </div>
        <div class="media-story">
                <ul class="user-passport-info">
        <li class="user-name">
                    <a class="user-display-name" href="/user_details?userid=A57kMV-Kkl0XZxRbQPDqWg" data-hovercard-id="SsFcnvnTOpiLNg1BUDov8Q">Shannon R.</a>
        </li>
        <li class="user-location">
            <b>San Jose, CA</b>
        </li>
    </ul>

                <ul class="user-passport-stats">
        <li class="friend-count">
            <span class="i-wrap ig-wrap-common i-friends-orange-common-wrap"><i class="i ig-common i-friends-orange-common"></i> <b>121</b> friends</span>
        </li>
        <li class="review-count">
            <span class="i-wrap ig-wrap-common i-star-orange-common-wrap"><i class="i ig-common i-star-orange-common"></i> <b>28</b> reviews</span>
        </li>
    </ul>

        </div>
    </div>

                    <ul class="iconed-list action-link-list">

                <li class="iconed-list-item">

                        <a class="action-link send-to-friend" data-pop-uri="/send_to_friend/review/FPz_lR2sImFpDrJgKboO9w" href="javascript:;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-share-common"></i>
        </div>
        <div class="iconed-list-story">
            Share review
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-compliment" href="javascript:;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-compliment-common"></i>
        </div>
        <div class="iconed-list-story">
            Compliment
        </div>
    </a>

                </li>

                <li class="iconed-list-item">

                        <a class="action-link send-pm" href="javascript:;" rel="Shannon R.">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-message-common"></i>
        </div>
        <div class="iconed-list-story">
            Send message
        </div>
    </a>

                </li>

                <li class="iconed-list-item manage-follow-container">
                    

                        <a class="action-link manage-following-add" href="javascript:;" rel="A57kMV-Kkl0XZxRbQPDqWg" style="">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-follow-common"></i>
        </div>
        <div class="iconed-list-story">
            Follow Shannon R.
        </div>
    </a>



                        <a class="action-link manage-following-remove" href="javascript:;" rel="A57kMV-Kkl0XZxRbQPDqWg" style="display: none;">
        <div class="iconed-list-avatar">
            <i class="i ig-common i-action-unfollow-common"></i>
        </div>
        <div class="iconed-list-story">
            Stop following Shannon R.
        </div>
    </a>

                </li>
    </ul>

         </div>
     </div>

        <div class="review-wrapper">
               <div class="review-content">
            <div class="biz-rating biz-rating-very-large clearfix">
        <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                
        <div class="rating-very-large">
        <i class="star-img stars_5" title="5.0 star rating">
            <img alt="5.0 star rating" class="offscreen" height="303" src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png" width="84">
        </i>
            <meta itemprop="ratingValue" content="5.0">
    </div>


        </div>
            <span class="rating-qualifier">
            <meta itemprop="datePublished" content="2014-07-25">
        7/25/2014
    </span>

    </div>

        
                <p class="review_comment ieSucks" itemprop="description" lang="en">I was introduced to Back A Yard a couple of years ago by my boss. I am so excited about the San Jose location. I heard about it when it opened up, but now I frequent this place.<br><br>This food is just amazing. I had always had the jerk chicken or pork until I recently tried the jerk salmon. I would have to say it's probably one of the best pieces of salmon I've had in my life. I've now taken my family and friends here and they all love this place.<br><br>I've also had Back A Yard cater several work events and was always happy with the outcome. Everyone always loves it! If you want to be popular in your office, I highly suggest getting Back A Yard to cater your meetings/events. Everyone is always so intrigued by the uniqueness of the food and also love the way it tastes. I've seen the staff go back for seconds and thirds because they are so about it. &nbsp;It's expensive, but totally worth it trust me!<br><br>The mac n chesses and rice/beans are also soooooo good. I'm in love with the fried plantains as well. <br><br>I also have been to the Menlo Park location that I also highly recommend.</p> 
            
    </div>
    <div class="review-footer clearfix">
                    <div class="rateReview ufc-feedback clearfix" data-review-id="FPz_lR2sImFpDrJgKboO9w">
                    <p class="review-intro review-message">
        Was this review …?
    </p>

                <ul class="big-ufc" data-csrf-token="fd951fe035fe64aa96b349fbd8158555cb2bfd27b7689ce9b6f873a1c0d9d4c4">
                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="useful" class="ybtn ybtn-small useful ytype"><span class="i-wrap ig-wrap-common i-big-ufc-useful-common-wrap button-content"><i class="i ig-common i-big-ufc-useful-common"></i>     <span class="vote-type">Useful</span>
    <span class="count">2</span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="funny" class="ybtn ybtn-small funny ytype"><span class="i-wrap ig-wrap-common i-big-ufc-funny-common-wrap button-content"><i class="i ig-common i-big-ufc-funny-common"></i>     <span class="vote-type">Funny</span>
    <span class="count">2</span></span></a>
    </li>

                        


    <li class="ufc-stat inline-block ytype">
        <a href="javascript:;" rel="cool" class="ybtn ybtn-small cool ytype"><span class="i-wrap ig-wrap-common i-big-ufc-cool-common-wrap button-content"><i class="i ig-common i-big-ufc-cool-common"></i>     <span class="vote-type">Cool</span>
    <span class="count">2</span></span></a>
    </li>

                </ul>
        </div>

    </div>
    
    

        </div>
    </div>

        </li>

    </ul>

        <div class="throbber-overlay" style="display: none;"><div class="throbber-container"></div></div></div>
        
    </div>

                    
                            

                    
                </div>

</div>
</div>        
        

</div>
    

        
        
        
        
        

        
    
    
    
    
    
    
    
    


        


        

            <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1432291440371688&amp;ev=NoScript&amp;ampcd%5Bcategory%5D=caribbean&amp;ampcd%5Bcategory%5D=tradamerican">

            </div>

    </div>


            <!-- google_ad_section_start(weight=ignore) -->
<!-- <a href="/biz/outlook-autumn-market-fundamental-catwalk-flimsy-roost-legibility-individualism-grocer-predestination-3">yelp</a> -->

    <div class="footer">
        <div class="footer-wrap">
    

                        

                        

            
                <div class="city-landscape-img"></div>

                <div class="footer-copyright">
        <small>
            Copyright © 2004–2014 Yelp Inc. Yelp, <img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9d213bfb766e/logo/logo_tiny.png" alt="Yelp logo" class="footer-copyright-logo">, <img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/86ec59fef415/logo/burst_tiny.png" alt="Yelp burst" class="footer-burst-logo"> and related marks are registered trademarks of Yelp.
        </small>
    </div>

                <!--Source: Freebase (http://www.freebase.com/), licensed under CC-BY (http://creativecommons.org/licenses/by/2.5/)-->


         </div>
    </div>
<!-- google_ad_section_end -->

            <div style="display: none;" id="page-popups">
            </div>

                
                <div id="qype-ghost-user-hovercard" class="hidden">
        <div class="whatsthis-hovercard">
            <h3>What's This?</h3>
            <p>
                This user has arrived from Qype, a European company acquired by Yelp in 2012. We have integrated the two sites to bring you one great local experience.
            </p>
        </div>
    </div>


        </div> 

<script type="text/javascript">
                
                yConfig = {"bingMapsUrl": "https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0\u0026mkt=en-US\u0026s=1\u0026onscriptload=", "cookies": {"ADMIN_SEARCH_USERDATA_RADIUS": "udr", "RECENT_LOCATIONS": "recentlocations", "SEARCH_PREFS": "searchPrefs", "JS_TRACK": "js_track", "YUV": "yuv", "DEBUG": "debug", "SELECTED_ACTIVITY_FEED": "fd", "SIGNUP_TRACK": "strack", "EXPR_OVERRIDE": "expr", "COOKIE_INFO": "cim", "LOCATION": "location", "ADMIN_CM_SCOREBOARD_SETTINGS": "acms", "SEARCH_SUGGEST_INFO": "search_suggest", "ADMIN_BUSINESS_ATTRIBUTE_CHANGESET_UTILS_PREFS": "bap", "ADMIN_SEARCH_USERDATA_LOCATION": "udl", "ADMIN_SEARCH_USERDATA": "ud", "DISMISSIBLE_MESSAGE_COOKIE": "dm", "USED_LOCALE_SELECTOR": "used_locale_selector", "PRIVACY_POLICY_NOTICE": "ppn", "HIDE_BROWSER_BAR": "hidebrowserbar", "SUGGEST_COOKIE": "ssi", "MESSAGE_SENDER_PASSED_CAPTCHA": "mspc", "QUANTCAST": "qntcst"}, "googDebugLevel": "OFF", "cdn": {"hostnamePattern": {"s3": "s3-media%s.fl.yelpcdn.com", "yelp": "media%s.fl.yelpcdn.com"}, "shardCount": 4}, "enabledSitRepChannels": {"quick_reservation": true, "biz_map_view": true, "biz_directions": true, "call_to_action": true}, "spinnerURLSmall": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/294d5d03032e/loaders/small-throbber.gif", "uniqueRequestId": "cb3f758460ef542f", "googleMapsUrl": "//maps.googleapis.com/maps/api/js?client=gme-yelp\u0026language=en\u0026sensor=false", "yelpcodeTemplateVersion": "42a524e0e0", "isLoggedIn": false, "imageUrls": {"mapMarkers": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/61a4c5ed6fcc/map/map_markers_sprite.png", "stars": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png"}, "mapMarkerSerial": "20140220", "countryNameList": ["argentina", "australia", "austria", "belgium", "brazil", "canada", "chile", "czech republic", "denmark", "finland", "france", "germany", "hong kong", "ireland", "italy", "japan", "mexico", "new zealand", "norway", "poland", "portugal", "singapore", "spain", "sweden", "switzerland", "netherlands", "turkey", "uk", "usa"], "isSitRepEnabled": true, "comscore": {"c15": "", "c3": "", "c2": 7130511, "c1": 2, "c6": "", "c5": "", "c4": ""}, "enableHighVolumeGAEvents": false, "isClientErrorsEnabled": false, "spinnerURLLarge": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/049247849df0/loaders/throbber.gif", "vendorExternalURLs": {}, "cookieDomain": ".www.yelp.com", "recaptchaPublicKey": "6Lc2978SAAAAADHkLB3mdFpNLLfBP5CYnqlR0gz6", "isLive": true, "bingMapsKey": "AjhDhG82AEA_I4CdC-0o2DTDxg1Ojh0AZdcp_o-IbNuJGlb5fMMrig728eetoW8S"};

</script>
            
            
            

            <noscript>&amp;lt;img src="http://b.scorecardresearch.com/p?cj=1&amp;amp;amp;c15=&amp;amp;amp;c3=&amp;amp;amp;c2=7130511&amp;amp;amp;c1=2&amp;amp;amp;c6=&amp;amp;amp;c5=&amp;amp;amp;c4="&amp;gt;</noscript>
            

            <script>
            (function() {
                var main = null;

                var main=function includeQuantcast(){window._qevents=window._qevents||[];window._qevents.push({qacct:"p-M4yfUTCPeS3vn"});var b=document.createElement("script"),a=document.getElementsByTagName("script")[0];b.src="https://secure.quantserve.com/quant.js";b.type="text/javascript";b.async=true;a.parentNode.insertBefore(b,a)};

                if (main === null) {
                    throw 'invalid inline script, missing main declaration.';
                }
                main();
            })();
    </script>
                <noscript>
        &amp;lt;img style="display: none;" src="https://pixel.quantserve.com/pixel/p-M4yfUTCPeS3vn.gif" border="0" height="1" width="1" alt="Quantcast"/&amp;gt;
    </noscript>


                

            <script src="http://s3-media4.fl.yelpcdn.com/assets/2/www/js/d56bd43138e5/assets/vendor_external/LAB.min.js"></script><script>$LAB.script("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
.wait(function() {if(document.readyState === 'interactive') jQuery.ready();})
.script("//s3-media4.fl.yelpcdn.com/assets/2/www/js/108995ce7693/assets/module_core-en_US.min.js")
.wait(function() {
                yConfig.vendorExternalURLs["easyXDM"]=['//s3-media4.fl.yelpcdn.com/assets/2/www/js/62199ef9e869/assets/vendor_external/easyXDM.min.js']
                
                yConfig.vendorExternalURLs["plugin-detect"]=['//s3-media4.fl.yelpcdn.com/assets/2/www/js/bfd62b330c7a/assets/vendor_external/plugin-detect-0.6.3.min.js']
                yelp.www.init.initSearchSuggest("#find_desc", ".find-decorator", "#dropperText_Mast", false, false);
yelp.www.init.initLocationSuggest("#dropperText_Mast", ".near-decorator", true, false);
yelp.www.init.initNavItemTracking();
yelp.www.init.initGAUniversal({"domain": "yelp.com", "dimensions": {"1": "anon", "7": "True", "8": "False", "9": "100+", "10": "100+", "11": "caribbean, tradamerican", "12": "0"}, "clientID": "E7E254297B5747BD", "trackers": {"www": "UA-30501-55"}}, []);
yelp.www.init.initTimeOnPageAnalytics();
yelp.init.initLocaleSelector("#language-selector-wrap");
yelp.init.initCountrySelector("#country-selector-wrap");
yelp.init.qypeGhostUsers();
yelp.pages.init();
yelp.www.init.facebook(97534753161, "//connect.facebook.net/en_US/all.js");
yelp.www.init.quantcast();
})
.script("//s3-media1.fl.yelpcdn.com/assets/2/www/js/c26ff64575fd/assets/module_biz_details-en_US.min.js")
.wait(function() {yelp.www.init.biz_details.initBookmark(false, "/bookmark/remove_biz_confirm", "96d089ed8eb731d980f12b88451fd0123c972a56b926f499a2f3b3781d100ab5", "e77d1460f325145927cd7446aaf4a7ae5ea60628921f38da5a56d727a8969b05");
yelp.www.init.biz_details.sendToFriend("9bf06a4cdd33ab44b109bc8de3bff34d279f475e419e22beb4a3b30a2819b038");
yelp.www.init.biz_details.reservations("13cd11db0ee00a92cf8f9297625561264dbef4d4c7b71cc4d7e6e5c6f64daf29");
yelp.www.init.biz_details.initEditCategory(true);
yelp.www.init.biz_details.initPlatform();
yelp.www.init.biz_details.initMapLightbox();
yelp.www.init.biz_details.boyModule("/biz/back-a-yard-san-jose/best_of_yelp/");
yelp.www.init.biz_details.fromBusinessOwner();
yelp.www.init.biz_details.ratingDetails();
yelp.www.init.biz_details.reviewFeedController("/biz/back-a-yard-san-jose/review_feed/", "/biz/back-a-yard-san-jose/review_highlight_feed/", 3, 8, "20130924");
yelp.www.init.biz_details.initSpamAlert();
yelp.www.init.biz_details.initDealExpander();
yelp.www.init.biz_details.initBizPhotoMetrics();
yelp.www.init.biz_details.mapSitRepLogger("ubaGEwbm-tt38c6KXWUv6A");
yelp.www.init.biz_details.initMessageTheBusiness("/message_the_business/ubaGEwbm-tt38c6KXWUv6A/popup_form");
yelp.www.init.biz_details.initYlaHovercard();
})
$LAB.script("//sb.scorecardresearch.com/beacon.js")
.wait(function() {
                if (window.COMSCORE && window.COMSCORE['beacon']) {
                    window.COMSCORE['beacon']({'c15': '', 'c3': '', 'c2': 7130511, 'c1': 2, 'c6': '', 'c5': '', 'c4': ''});
                }
                })
</script>

        <script type="text/javascript">
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = "http://www.google-analytics.com/ga.js";
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>



        <script>
            (function() {
                var main = null;

                var main=function loadSpice(a){var b=new Image();if(!document.webkitHidden){b.src=["/sp","ice?","r=",a,"&pagevis","=0"].join("")}else{var c=false;document.addEventListener("webkitvisibilitychange",function(){if(document.webkitHidden||c){return}c=true;b.src=["/s","pice","?r=",a,"&","pagevis=1"].join("")})}};

                if (main === null) {
                    throw 'invalid inline script, missing main declaration.';
                }
                main("cb3f758460ef542f");
            })();
    </script>


                <script>
            (function() {
                var main = null;

                var main=function(){var a=new Image(1,1);a.onerror=a.onload=function(){a.onerror=a.onload=null};a.src=["//secure-us.imrworldwide.com/cgi-bin/m?ci=us-804377h&cg=0&cc=1&si=",escape(window.location.href),"&rp=",escape(document.referrer),"&ts=compact&rnd=",(new Date()).getTime()].join("")};

                if (main === null) {
                    throw 'invalid inline script, missing main declaration.';
                }
                main();
            })();
    </script>
        <noscript>
                &amp;lt;img src="//secure-us.imrworldwide.com/cgi-bin/m?ci=us-804377h&amp;amp;amp;cg=0&amp;amp;amp;cc=1&amp;amp;amp;ts=noscript" width="1" height="1" alt=""&amp;gt;
        </noscript>




<script type="text/javascript">
            
                yConfig.csrf = {"UserFollow": "275ac99cb1f84fdf42a7913535242cbeb6e206a5aee8bef11396767a3bdd2e77", "SitRep": "f8efd9297ec2a7704bd72ba8d7d129158688e86016ffa90b3dda06079900fc9e"};

</script><iframe src="http://tpc.googlesyndication.com/safeframe/1-0-0/html/container.html" style="visibility: hidden; display: none;"></iframe>

    
<div class="hovercard"><div class="hovercard-inner clearfix"><div class="whatsthis-hovercard">
            <h3>What's This?</h3>
            <p>
                This user has arrived from Qype, a European company acquired by Yelp in 2012. We have integrated the two sites to bring you one great local experience.
            </p>
        </div></div><span class="arrow-icon"></span></div><div class="hovercard hovercard-mod user-hovercard top-aligned" style="display: none; top: 476px; left: 450px;"><div class="hovercard-inner clearfix"><div class="hovercard-bd">
            <div class="ypassport media-block clearfix">
        <div class="media-avatar">
                    


    <div class="photo-box pb-60s" data-hovercard-id="HLI-SlPMDO_T1LFQv33EIA">
                <a href="/user_details?userid=40NkjNBrIU4z4d6BHW-msQ">
            

    <img alt="Leila W." class="photo-box-img" height="60" src="//s3-media3.fl.yelpcdn.com/photo/hH1ItCPwOEySvUv3ci61Gw/60s.jpg" width="60">

        </a>

    </div>



        </div>
        <div class="media-story">
                <ul class="user-passport-info">
        <li class="user-name">
                    <a class="user-display-name" href="/user_details?userid=40NkjNBrIU4z4d6BHW-msQ" data-hovercard-id="HLI-SlPMDO_T1LFQv33EIA">Leila W.</a>
        </li>
        <li class="user-location">
            <b>San Jose, CA</b>
        </li>
    </ul>

                <ul class="user-passport-stats">
        <li class="friend-count">
            <span class="i-wrap ig-wrap-common i-friends-orange-common-wrap"><i class="i ig-common i-friends-orange-common"></i> <b>1</b> friend</span>
        </li>
        <li class="review-count">
            <span class="i-wrap ig-wrap-common i-star-orange-common-wrap"><i class="i ig-common i-star-orange-common"></i> <b>9</b> reviews</span>
        </li>
    </ul>

        </div>
    </div>

            <ul class="iconed-list action-link-list">
    </ul>

    </div></div><span class="arrow-icon"></span></div><div class="body-overlay" data-component-bound="true"></div><div class="hovercard yloca-hovercard"><div class="hovercard-inner clearfix"><div data-component-bound="true" class="loading-msg" style="display: block;"><span class="throbber"></span>Loading...</div></div><span class="arrow-icon"></span></div><iframe id="google_osd_static_frame_5908089953009" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;"></iframe><iframe id="google_osd_static_frame_407755624037" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;"></iframe></body></html>